.avatar {
  background-size: cover;
  background-position: center center;
}

.avatar--medium {
  width: var(--icon-medium);
  height: var(--icon-medium);
}

.avatar--rounded {
  border-radius: var(--round-corner-size);
}
