.btn {
  padding: 5px 10px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.btn-primary {
  color: #fff;
  border-color: #7a7a7a;
  background: #7a7a7a;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  border-color: #7a7a7a;
  outline: none;
}
