.btn {
  padding: 5px 10px;
  border-radius: var(--round-corner-size);
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.btn-primary {
  color: var(--white);
  border-color: var(--grey);
  background: var(--grey);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  border-color: var(--grey);
  outline: none;
}
