.form--createGist {
   padding-top: 20px;
}

.input-group--input {
  padding: 5px 10px;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
}

.input-group--input:active,
.input-group--input:focus {
  border-color: #a4fff2;
  outline: none;
}

.input-group--label {
  font-size: 1em;
}

.input-group--small {
  font-size: .7em;
}

.form-block {
  margin-top: -20px;
}

.form-block input,
.form-block label,
.form-block textarea {
  display: block;
  width: 100%;
}
