[class^="icon"] {
  vertical-align: middle;
}

.icon--medium {
  width: var(--icon-medium);
  height: var(--icon-medium);
}

.icon--small {
  width: var(--icon-small);
  height: var(--icon-small);
}

.icon--dark {
  fill: var(--grey);
}

.icon--light {
  fill: var(--light-grey);
}

.icon-x {
  fill-opacity: 0.3;
}

.icon-x:hover {
  fill-opacity: 0.75;
}
