@keyframes spin { 100% { transform:rotate(360deg); } }

.loader {
  width: var(--icon-medium);
  height: var(--icon-medium);
  border-width: 2px;
  border-style: solid;
  border-color: var(--grey) transparent transparent;
  border-radius: 20px;
  animation: spin 1s linear infinite;
}
