@import url(./normalize.css);
@import url(./utilities.css);
@import url(./menus.css);
@import url(./forms.css);
@import url(./buttons.css);
@import url(./icons.css);
@import url(./avatars.css);
@import url(./states.css);

body, html {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: #fcfcfc;
  margin: 0;
  color: #7a7a7a;
  font-family: osaka-mono!important;
}

/* Ace Editor Customization */

::-webkit-scrollbar,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  opacity: 0;
  width: 0;
  height: 0;
}

#brace-editor {
  line-height: 1.3;
  background: #fcfcfc;
}

@media (max-width: 767px) {
  #brace-editor { font-size: 17px !important; }
}

/* 890px is the width of the viewport for 80 fixed width characters */
@media (min-width: 891px) {
  .workspace {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
  }
}

.ace-kuroir .ace_markup.ace_heading { background-color: transparent !important; }
.ace-kuroir .ace_comment { background-color: transparent !important; }

.ace_scroller {
  top: 20px !important;
  overflow: visible !important;

}

* {
  box-sizing: border-box;
}

.app-container,
.notes-container {
  min-height: 100%;
  height: 100%;
}

.notes-container {
  display: flex;
  flex-direction: row;
}

.menu,
.workspace {
  height: 100%;
}

.workspace {
  flex: 1;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
}
