@import url(./normalize.css);
@import url(./utilities.css);
@import url(./menus.css);
@import url(./forms.css);
@import url(./buttons.css);
@import url(./icons.css);
@import url(./avatars.css);

body, html {
  height: 100%;
  min-height: 100%;
  background: white;
  margin: 0;
  color: #7a7a7a;
  font-family: osaka-mono!important;
}

* {
  box-sizing: border-box;
}

.app-container,
.notes-container {
  min-height: 100%;
  height: 100%;
}

.notes-container {
  display: flex;
  flex-direction: row;
}

.menu,
.workspace {
  height: 100%;
}

.menu {
  flex: 0 0 75px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.menu .list {
  flex: 1;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  color: #7a7a7a;
  white-space: nowrap;
  margin: 0;
  position: relative;
}

.menu .list.list--bottom {
  position: absolute;
  bottom: 0;
}

.workspace {
  flex: 1;
}
