.menu {
  flex: 0 0 75px;
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.menu .list {
  flex: 1;
  list-style-type: none;
  padding: 0;
  color: var(--grey);
  white-space: nowrap;
  margin: 0;
  position: relative;
}

.menu .list > li {
  position: relative;
  cursor: pointer;
  transition: all .3s;
}

.menu .list > li:hover {
  background: var(--white);
}

.menu-icon {
  cursor: pointer;
}

.menu .list.list--bottom {
  position: absolute;
  bottom: 0;
}

.menu .list {
  position: relative;
}

.contextLink--container {
  position: absolute;
  top: 0px;
  left: 80px;
  background: var(--white);
  display: none;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0,0,0,.3);
  max-height: 50vh;
  width: 50vw;
  overflow: scroll;
}

.contextLink--container.contextLink--bottom {
  top: auto;
  margin-bottom: 20px;
  bottom: 0;
}

.contextLink--container.is-open {
  display: block;
}

.contextLink--container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contextLink--container ul li {
  margin-left: -20px;
  margin-right: -20px;
  padding: 0;
}

.contextLink--container ul li.list-header {
  font-size: 1.1em;
  font-weight: 700;
  padding: 5px 20px;
}

.contextLink--container ul li:first-child {
  margin-top: -20px;
}

.contextLink--container ul li:last-child {
  margin-bottom: -20px;
}

.contextLink--container ul li:last-child a {
  padding-bottom: 0;
}

.contextLink--container ul li a {
  color: var(--grey);
  text-decoration: none;
  display: block;
  padding: 10px 50px 10px 20px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.contextLink--container ul li a:focus {
  outline: none;
  background-color: var(--primary-color);
}

.contextLink--container ul li a:hover {
  color: var(--grey);
  text-decoration: underline;
}
