/* spacing */

.u-padding--tight {
  padding: 10px;
}

.u-padding--default {
  padding: 20px;
}

.u-paddingLeft--default {
  padding-left: 20px;
}

.u-paddingRight--default {
  padding-right: 20px;
}

.u-margin--default {
  margin: 20px 20px 0;
}

.u-marginLeft--default {
  margin-left: 20px;
}

.u-marginRight--default {
  margin-right: 20px;
}

.u-marginRight--smaller {
  margin-right: 10px;
}

.u-verticalSpacing--small {
  margin-bottom: 5px;
}

.u-verticalSpacing--default {
  margin-bottom: 20px;
}

/* alignment */

.u-textAlign--center {
  text-align: center;
}

.u-textAlign--left {
  text-align: left;
}

.u-textAlign--right {
  text-align: right;
}

.u-position--right {
  right: 0;
}

.u-position--absolute {
  position: absolute;
}

/* font-size */

.u-fontSize--smaller {
  font-size: .7em;
}

.u-fontSize--larger {
  font-size: 1.2em;
}

/* layout */

.u-layout--centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  height: 100%;
}
